EVENTOPS_POSTGRES_DB=eventops
EVENTOPS_POSTGRES_USER=eventops
EVENTOPS_POSTGRES_PASSWORD=troque-esta-senha-local
EVENTOPS_KEYCLOAK_ADMIN_USERNAME=admin
EVENTOPS_KEYCLOAK_ADMIN_PASSWORD=troque-esta-senha-local
EVENTOPS_GRAFANA_ADMIN_USER=admin
EVENTOPS_GRAFANA_ADMIN_PASSWORD=troque-esta-senha-local
EVENTOPS_OBSERVABILITY_PASSWORD_FILE=./secrets/observability_password.txt
